<form class="form-inline my-2 my-lg-0" style="margin-left:950px"></form>
<div class="container">
   <div class="row">
      <% @products.each do |p|%>
      <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12 col-xs-12">
         <div class="card-container">
            <div class="flipper">
               <div class="front">
                  <div class="panel panel-primary">
                    <div class="panel-heading"><%= p.name%></div>
                     <div class="panel-body text-center" style="min-height: 430px; background: #fff;">
                        <%= image_tag p.images, class: "img-responsive"%>
                     </div>
                     <div class="panel-body text-center" style="padding:10px">
                        <h4>Giá</h4>
                        <%= number_to_currency(p.price, unit:"đ", format: "%n %u") %>
                     </div>
                     <div style="padding:15%">
                        <%= link_to 'Chi tiết', product_path(p), class: "btn btn-primary btn-lg " %>
                        <% if policy(p).update? %>
                            <%= link_to 'Chỉnh sửa', edit_product_path(p), class: "btn btn-primary btn-lg " %> 
                        <% end %>
                        <% if policy(p).destroy? %>
                        <%= link_to 'Xóa ', admin_product_path(p), class:"btn btn-primary btn-lg", method: :delete, data: { confirm: 'Ban chat chan xoa' } %>
                        <% end %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <% end %>
   </div>
</div>