
<div class="container">
   <div class="row">
      <% @products.each do |p|%>
      <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12 col-xs-12">
         <div class="card-container">
            <div class="flipper">
               <div class="front">
                  <div class="panel panel-primary" style="height:550px">
                     <div class="panel-heading"><i class="fa fa-user-secret" aria-hidden="true"></i></div>
                     <div
                        class="panel-body text-center" style="height:300px">
                       <%= image_tag p.images.first.url, class: "img-responsive", width:'250px'%>
                     </div>
                     <div class="panel-body">
                        <h4>Giá</h4>
                        <%= number_to_currency(p.price, unit:"đ", format: "%n %u") %>
                     </div>
                     <div id="chucnang">
                        <%if current_user %>
                        <% if current_user.role == "admin" %>
                            <%= link_to p.name, admin_product_path(p), class: "q btn btn-primary" %>
                        <% else %>
                            <%= link_to p.name, people_product_path(p), class: "q btn btn-primary" %>
                        <% end %>
                        <% else %>
                            <%= link_to p.name, product_path(p), class: "q btn btn-primary"%>
                        <% end %> 
                        <% if policy(p).update? %>
                            <%= link_to 'Chỉnh sửa', edit_admin_product_path(p), class: "q btn btn-primary" %>
                        <% end %>
                        <% if policy(p).destroy? %>
                        
                        <%= link_to 'Xóa ', admin_product_path(p), class:"q btn btn-primary",    
                           method: :delete,data: { confirm: 'Ban chat chan xoa' } %>
                        <% end %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <% end %>
   </div>
</div>