<div class="nav-item dropdown pull-right">
   <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
      aria-expanded="false">Sắp xếp <i class="fa fa-sort" aria-hidden="true"></i></a>
   <div class="dropdown-menu">
      <% if current_user %>
      <% if current_user.role == "admin" %>
        <a href="/admin/products?order=asc">Giá tăng</a><br>
        <a href="/admin/products?order=desc">Giá giảm</a>
      <% else %>
        <a href="/people/products?order=asc">Giá tăng</a><br>
        <a href="/people/products?order=desc">Giá giảm</a>
      <% end %>
      <% else %>
        <a href="products?order=asc">Giá tăng</a><br>
        <a href="products?order=desc">Giá giảm</a>
      <% end %>
   </div>
   <br><br>
</div>
<div class="clearfix"></div>
<form class="form-inline my-2 my-lg-0" style="margin-left:950px"></form>
<div class="container">
   <div class="row">
      <% @products.each do |p|%>
      <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12 col-xs-12">
         <div class="card-container">
            <div class="flipper">
               <div class="front">
                  <div class="panel panel-primary">
                     <div class="panel-heading"><i class="fa fa-user-secret" aria-hidden="true"></i>&nbsp;&nbsp;<%= p.name%></div>
                     <div
                        class="panel-body text-center"
                        style="min-height: 430px; background: #fff;">
                        <%= image_tag p.images, class: "img-responsive"%>
                     </div>
                     <div class="panel-body" style="padding-left:10%">
                        <h4>Giá</h4>
                        <%= number_to_currency(p.price, unit:"đ", format: "%n %u") %>
                     </div>
                     <div style="padding:5%; padding-left:15%">
                        <%if current_user %>
                        <% if current_user.role == "admin" %>
                            <%= link_to 'Chi tiết', admin_product_path(p), class: "btn btn-primary btn-lg " %>
                        <% else %>
                            <%= link_to 'Chi tiết', people_product_path(p), class: "btn btn-primary btn-lg " %>
                        <% end %>
                        <% else %>
                            <%= link_to 'Chi tiết', product_path(p), class: "btn btn-primary btn-lg " %>
                        <% end %> 
                        <% if policy(p).update? %>
                        <% if current_user.role == "admin" %>
                            <%= link_to 'Chỉnh sửa', edit_admin_product_path(p), class: "btn btn-primary
                           btn-lg " %>
                        <% else %>
                            <%= link_to 'Chỉnh sửa', edit_people_product_path(p), class: "btn btn-primary
                           btn-lg " %>
                        <% end %>
                        <% end %>
                        <% if policy(p).destroy? %>
                        <%= link_to 'Xóa ', admin_product_path(p), class:"btn btn-primary btn-lg",
                           method: :delete,data: { confirm: 'Ban chat chan xoa' } %>
                        <% end %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <% end %>
   </div>
</div>